<h2>家計簿を始める前に教えてください</h2>

<%= form_for @input  do |f| %>
  <%= render "devise/shared/error_messages", resource: @input  %>

  <div class="field">
    <%= f.label "資産残高" %><br />
    <%= f.text_field :shisan_balance %>
  </div>

  <div class="field">
    <%= f.label "負債残高" %><br />
    <%= f.text_field :fusai_balance %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>